.about > h1 {
  margin: 15px;
  font-size: 40px;
}

h2 {
  color: #fff;
  margin-top: 20px;
}

.about > a {
  position: absolute;
  background-color: gray;
  border: none;
  color: white;
  padding: 12px 30px;
  margin-top: 30px;
  margin-left: 40%;
  cursor: pointer;
  font-size: 20px;
}

.about > a:hover {
  background-color: RoyalBlue;
  scale: none;
}

@media screen and (max-width: 900px) {
  .about > a {
    margin-left: 20%;
  }
}

@media screen and (min-width: 1000px) {
  .about > a {
    margin-left: 40%;
  }
}
